<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
    <h1>Welcome to...</h1>
    <img th:src="@{/images/TacoCloud.jpeg}">
    Logged user: <span th:text="${#authentication.principal.fullname}">Bob</span>
    <form method="POST" th:action="@{/logout}" id="logoutForm">
        <input type="submit" value="Logout"/>
    </form>
    <a th:href="@{/design}" id="design">Design a taco</a>


    <div>run app use: mvn spring-boot:run, and this command watch classpath for restart or reload</div>
    <div>refresh app use: mvn compile (use IDE build will be more efficient, because mvn recompile everything)</div>
    <div>if you change contents of pom.xml, you need to restart explicitly</div>
</body>
<script th:inline="javascript">
    let authen = [[${#authentication}]]
</script>
</html>